*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  height: 100vh;
    background-color: #6c5ce7;
}
.memory-board{
  
  width: 640px;
  height: 640px;
  display:flex;
  flex-wrap: wrap;
  border: 1px solid yellow;

}
.memory-tile{
  width: 25%;
  height: 33.33%;
}
img{
  max-width: 100%;
}